<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.evtool.hwo/dsl/Evaluacion"
			class = "hwo.evtool.dsl.evaluacion.EvaluacionPackage"
			genModel = "model/generated/Evaluacion.genmodel" />
	</extension>
</plugin>
